spring:
  profiles:
    active: local
  application:
    name: ziwan-ai-code-backend
  #  数据库配置
  datasource:
    driver-class-name: ${datasource.driver-class-name}
    url: ${datasource.url}
    username: ${datasource.username}
    password: ${datasource.password}
server:
  port: 8081
  servlet:
    context-path: /api


# springdoc-openapi项目配置
springdoc:
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.example.ziwanaicodebackend.controller
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn

  #  basic:
  #    enable: true
  #    username: ${knife4j.basic.username}
  #    password: ${knife4j.basic.password}
logging:
  level:
    root: info
    com.example.ziwanaicodebackend: info

