spring:
  application:
    name: ziwan-ai-code-backend

server:
  port: 8081
  servlet:
      context-path: /api

# springdoc-openapi项目配置
springdoc:
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.example.ziwanaicodebackend.controller
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn
